.sentre-card {
  &.card-swap {
    background: transparent !important;
    border-radius: 20px !important;
    width: 100% !important;
  }

  .btn-switch-type {
    position: absolute !important;
    top: -10px;
    z-index: 1;
  }
}
