.balansol-tabs-card {
  &.freeze-thaw {
    .balansol-tabs-nav {
      &::before {
        display: none;
      }
    }
    .balansol-tabs-tab {
      border: none !important;
      border-radius: 8px !important;
      margin-right: 10px !important;
      &-active {
        background: rgba(99, 224, 179, 0.1) !important;
      }
    }
  }
}

.align-middle-icon {
  .balansol-space-item {
    display: flex !important;
  }
}

.anticon {
  cursor: pointer;
}

.disable-mask {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  justify-content: center;
  border-radius: 20px;
  background: rgba(8, 20, 56, 0.7);
  &.deposit {
    width: calc(100% - 24px);
    left: 12px;
  }
  &.withdraw {
    background: none;
  }
}

.card-detail-header {
  box-shadow: unset !important;
  background-position: center !important;
  background-size: cover !important;
}

.individual-token {
  .balansol-space-item {
    max-width: 50px;
  }
}

.warning-checkbox {
  .balansol-checkbox-checked {
    .balansol-checkbox-inner {
      background-color: #e6b33d !important;
    }
  }
  .balansol-checkbox-inner {
    border-color: #e6b33d !important;
  }
}

#dark {
  .balansol-tabs-card {
    &.freeze-thaw {
      .balansol-btn {
        &:active,
        &:focus {
          border-color: #394360 !important;
          color: #f3f3f5 !important;
        }
      }
    }
  }
}

#light {
  .balansol-select-dropdown {
    background-color: #ffffff !important;
  }
  .balansol-select-item-option-selected {
    background: #f2f4fa !important;
  }
}
