.management-input {
  border-radius: 40px !important;
  border: none !important;
  padding: 9px 16px !important;
  background: #e6eaf5 !important;
}

.fee {
  .balansol-input:focus {
    box-shadow: none !important;
  }
  
  input {
    .management-input();
    height: 40px !important;
  }
}

.weight {
  &-input {
    input {
      height: 40px !important;
    }
    &-error {
      input {
        color: red !important;
        height: 40px !important;
      }
    }
  }
}

.transfer-owner {
  .balansol-input:focus {
    box-shadow: none !important;
  }
  &-input {
    .management-input();
  }
}

.balansol-input-number-group-addon {
  border: none !important;
  background-color: transparent !important;
}

#dark {
  .management-input {
    background: #142042 !important;
  }
  
  .fee {
    input {
      .management-input();
    }
  }
  .transfer-owner-input {
    .management-input();
  }
}
