@import './common/card.less';
@screen-phone: 767px;

.modal-balansol {
  .balansol-modal-content {
    background: #212c4c !important;
    border: 1px solid #4e4f5c !important;
    border-radius: 24px !important;
  }
  .balansol-modal-header {
    background: #212c4c !important;
    border-radius: 24px 24px 0 0 !important;
    border-bottom: none !important;
  }
}

.percent-btn {
  border-radius: 8px !important;
  height: 8px !important;
  width: 32px !important;
}

.caption {
  font-size: 12px;
}

.balansol-btn {
  border-radius: 24px !important;
  border-color: transparent;
}

.mint-select {
  background: #394360 !important;
  border-radius: 16px !important;
  padding: 4px 8px !important;
}

.withdraw {
  width: 100%;
  .btn-toke-name {
    border-radius: 8px !important;
    border: unset !important;
    background: #394360 !important;
    color: #f3f3f5 !important;
    .title {
      font-weight: 400;
    }
    &.selected {
      background: rgba(99, 224, 179, 0.1) !important;
      color: #63e0b3 !important;
    }
  }
}

.btn-slippage {
  padding: 5px 16px;
  border-radius: 8px !important;
  &.selected {
    background: rgba(99, 224, 179, 0.1) !important;
    color: #63e0b3 !important;
  }
}

.balansol-background {
  &:after {
    content: '';
    background: url('../../static/images/balansol-background.png');
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.5;
    height: 100vh;
    position: fixed;
  }
}

.chart-card {
  height: 396px;
  box-shadow: unset;
  .chart-title {
    height: 38px;
  }
  .doughnut-container {
    .balansol-space-item {
      width: 276px;
      height: 276px;
      position: relative;
    }
  }

  .barchart-container {
    margin: auto;
    position: relative;
    .echarts-for-react {
      height: 276px;
      width: 276px;
    }
  }
  @media screen and (max-width: @screen-phone) {
    height: 380px;
  }
}

.btn {
  &-outline {
    color: #63e0b3 !important;
    background: inherit !important;
    border: 1px solid #63e0b3 !important;
  }
}

.slippage {
  padding-top: 0px;
  .balansol-popover-inner-content {
    padding: 0px;
  }
}