.modal-balansol {
  .sentre-modal-content {
    background: #212c4c !important;
    border: 1px solid #4e4f5c !important;
    border-radius: 24px !important;
  }
  .sentre-modal-header {
    background: #212c4c !important;
    border-radius: 24px 24px 0 0 !important;
    border-bottom: none !important;
  }
}

.percent-btn {
  border-radius: 8px !important;
  height: 8px !important;
  width: 32px !important;
}

.caption {
  font-size: 12px;
}

