.swap-and-pool {
  padding: 4px !important;
  border-radius: 30px !important;
  box-shadow: none !important;
  background: #e6eaf5 !important;
  .balansol-segmented {
    &-item {
      border-radius: 30px !important;
      &-selected {
        color: #081438 !important;
        box-shadow: unset !important;
        background: #f2f4fa !important;
        font-weight: 700 !important;
      }
      &-label {
        padding: 2px 11px !important;
        min-width: 90px;
        color: #6b7288 !important;
      }
    }
    &-thumb-motion-appear {
      border-radius: 30px !important;
      background: #f2f4fa !important;
    }
  }
}

.input-weight {
  .balansol-input {
    text-align: right !important;
  }
}

.card-detail-header {
  box-shadow: unset !important;
  background-position: center !important;
  background-size: cover !important;
}

#dark {
  .swap-and-pool {
    background: #081438 !important;
    .balansol-segmented {
      &-item {
        &-selected {
          background: #212c4c !important;
        }
        &-label {
          color: #f4f4f5 !important;
        }
      }

      &-thumb-motion-appear {
        background: #212c4c !important;
      }
    }
  }
}

#light {
  .balansol-select-dropdown {
    background-color: #ffffff !important;
  }
  .balansol-select-item-option-selected {
    background: #f2f4fa !important;
  }
}
